@model inplup1MVC.ViewModels.ProductCategoryEditViewModel


@{
    ViewData["Title"] = "Edit ProductCategory";
}

<section class="py-5">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">Produktkategori</h3>
                </div>

                <div class="card-body">
                    <form method="post" asp-controller="ProductCategory" asp-action="Edit">

                      




                        <div class="form-group">
                            <label asp-for="Namn">Namn</label>
                            <input class="form-control" asp-for="Namn">
                        </div>

                   







                      

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>



