@model inplup1MVC.ViewModels.ProductNewViewModel

@{ 
    ViewData["Title"] = "Ny Produkt";
}

<section class="py-5">
    <div class="row">
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">New Product</h3>
                </div>

                <div class="card-body">
                    <form asp-controller="Product" asp-action="New" method="post">
                        <div class="form-group">
                            <label asp-for="Namn">Namn</label>
                            <input class="form-control" asp-for="Namn">
                        </div>
                        <div class="form-group">
                            <label asp-for="Price">Pris</label>
                            <input class="form-control" asp-for="Price">
                        </div>
                        <div class="form-group">
                            <label asp-for="SelectedCategorieId">Kategorier</label>
                            <select class="form-control"
                                    asp-for="SelectedCategorieId"
                                    asp-items="Model.AllCategory"></select>
                            <span asp-validation-for="SelectedCategorieId" class="field-validation-error"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="Comment">Comment</label>
                            <textarea rows="5" cols="30"
                                      class="form-control" asp-for="Comment"></textarea>
                            <span asp-validation-for="Comment" class="field-validation-error"></span>
                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</section>